body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 20px;
    color: gray;
}

ul {
    margin: 0;
    padding: 0;
}


ul li {
    margin-left: 15px;
}

table {
    margin-bottom: 1.25rem;
}

.messages {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.box {
    background-color: #e2e3e5;
    border-color: #d6d8db;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
