<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" >
  <sitecore>
    <settings>
      <!-- Set a hard to guess accesss key -->
      <setting name="xConnectHelper.AccessKey" value=""/>

      <!-- Warn if a certificate will expire within X days -->
      <setting name="xConnectHelper.WarnDaysBeforeCertExpiration" value="120"/>

      <!-- Services to check status -->
      <setting name="xConnectHelper.Status.Check.Collection" value="true"/>
      <setting name="xConnectHelper.Status.Check.MAOperations" value="true"/>
      <setting name="xConnectHelper.Status.Check.MAReporting" role:require="Standalone or ContentManagement" value="true"/>
      <setting name="xConnectHelper.Status.Check.ReferenceData" value="true"/>
    </settings>
  </sitecore>
</configuration>